.boxInfo {
    position: fixed;
    background: rgba(25, 25, 25, 0.4);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.x {
    transform: translate(-300px, -310px);
    cursor: pointer;
    transition: all 0.4s ease;
}

.productInfo {
    height: 680px;
    width: 1070px;
    border-radius: 24px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.owerflow {
    overflow: hidden;
}

.none {
    display: none;
}

.productZakaz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.savzavot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.savzavotBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.savzavotBorder {
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
}

.savzavotBox p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #191919;
}

.HamirProductBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 480px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}

.HamirProductBox p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    height: 100%;
    width: 240px;
    z-index: 22;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.bgBox {
    position: absolute;
    background: #FF7010;
    border-radius: 6px;
    height: 48px;
    width: 240px;
    border-radius: 6px;
    z-index: 0;
    transition: all 0.4s ease;
}

.PizzaSm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 480px;
    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}

.PizzaSm p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    height: 100%;
    width: 159.08572387695312px;
    cursor: pointer;
    z-index: 22;
    transition: all 0.4s ease;
}

.bgBoxsm {
    position: absolute;
    background: #FF7010;
    border-radius: 6px;
    height: 44px;
    width: 159.08572387695312px;
    z-index: 1;
    transition: all 0.4s ease;
}
.productBoxInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.productImgBox img{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.productImgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;

    width: 450px;
    height: 450px;
}